
@media (max-width:960px) {
.conduce{
    width: 350px;
}
.conduce2{
    width: 300px;
}
   
    footer div h2,p{
font-size: 20px;
    }
    footer div img{
        width: 100px;
        height:100px;

    }
header nav{
    justify-content: left;
    background-color: rgb(0, 0, 0);
    padding: 15px;
}
    .menu li{
        display: block;
    }
    .menu li a{
font-size: 30px;
margin: 20px 3px;   
    }
    .menu{
        margin-top: 20px;
        margin-left: -30px;
  

    }
    .contenedor_menu{
        position: fixed;
        width: 240px;
        top: 80px;
        height: 100vh;
        left: 1px;
        background-color: rgb(238, 35, 9);
        display: flex;
        justify-content: left;
        align-content:baseline;
        border-top-right-radius:50px ;
        transform: translateX(-150%);
        transition: all 1s;
    }

    
    .hamburger--collapse{
        visibility: visible;
        background-color: #ff0000;
        width: 68px;
        height: 65px;
        border-radius: 50%;
        
    }
   
  header .banner-active{
    transform: translatex(0);
    transition: all 1s;
  }
  .contenedor_3 div h3 {
    font-size: 26px;

  }
  .contenedor_3 div {
    width: 300px;
  }
    .contenedor_4_flex div{
        width: 300px;

    }
    .contenedor_4_flex div h3{
        font-size: 25px;
    }

.seguridad h1{
    font-size: 36px;
}
}
@media (max-width:530px) {
    .atencion_servicios{
        padding: 10px;
    }
    .telefono{
        width: 96%;
     font-size: 20px;
    }
   
    .telefono-2{
        width: 80%;
        font-size: 17px;
        padding: 14px;
    }
    .footer_contenedo {
       gap:10px;
    }
    footer{
        text-align: center;
    }
    footer div{
        width: 280px;
    }
    .numeros li{
        font-size: 22px;
    }
    footer h2{
        text-align: center;
    }
   
    .copirai{
font-size: 17px;
    }
    .footer_contenedor div img{
        width: 180px;
        height: 150px;
        border-radius: 30px;
        filter:drop-shadow(2px 4px 3px rgb(170, 139, 139));
        z-index: 2;
    }
}